* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root::-webkit-scrollbar {
  width: 0px;
  /* display: none; */
}

.Screen {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 5px solid #222;
  /* border-radius: 20px; */
}

.ControlPanel {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background-color: rgb(50, 50, 50);

  /* border-radius: 50px; */
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  min-height: 13rem;
}

.Box {
  position: relative;
  overflow: hidden;
  /* border-radius: 10px; */
  background-color: rgb(30, 30, 30);
  height: 90vh;
  min-height: 30rem;
}

.Arrow {
  position: absolute;
  /* background-image: url("../../assets/Arrowhead.png"); */

  margin: 15px;

  /* background-color: blue; */

  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;

  border-left: 25px solid lightcyan;
}
