* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  background-color: rgb(40, 40, 40);
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1,
h2 {
  color: #aa00ff;
  text-align: center;
  font-size: 3rem;
  margin: 3rem 2rem 1rem;
}

p {
  color: #ce93d8;
  max-width: 85vw;
  margin: 1rem auto;
  font-size: 1.5rem;
}

main {
  justify-content: space-around;
}

article {
  margin: 4rem 10rem;
  font-size: 1.5rem;
  width: 80%;
}

ol {
  display: flex;
  gap: 5rem;
  justify-content: space-evenly;
  margin-top: 2rem;
  color: #aa00ff;

  /* list-style-type: decimal; */
}

strong {
  color: #7b1fa2;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 5px solid #222;
  /* margin: 1em 0;  */
  padding: 0;
}
